<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
  </head>
  <body>
    <p>Register or login to see the misterious secret!</p>
    <form action="/register" method="get">
      <button>Register</button>
    </form>
    <form action="/login" method="get">
      <button>login</button>
    </form>
  </body>
</html>
